{% extends "!layout.html" %}

{% block extrahead %}
  <meta name="keywords" content="jagust, neuroimaging, pet, neuroscience">
{% endblock %}

{% block rootrellink %}
  <li><a href="{{ pathto('welcome') }}">Home</a> |&nbsp;</li>
  <li><a href="{{ pathto('research') }}">Research</a> |&nbsp;</li>
  <li><a href="{{ pathto('people') }}">People</a> |&nbsp;</li>
  <li><a href="{{ pathto('publications')}}">Publications</a> |&nbsp;</li>
  <li><a href="{{ pathto('contact') }}">Contact</a> |&nbsp;</li>
  <li><a href="{{ pathto('faq')}}">FAQ</a> |&nbsp;</li>
{% endblock %}

{% block relbar1 %}
  <div id="header">
  <table width="100%">
  <tr>
    <td style="text-align:right;vertical-align:middle">
      <br>
      Jagust Lab &nbsp &nbsp
      <br>
      <br>
      UC Berkeley &nbsp &nbsp
      <br>
      <br>
      <br>
    </td>
  </tr>
</table>
</div>
{{ super() }}
{% endblock %}


{% block sidebar1 %} {% endblock %}
{% block sidebar2 %}
  {{sidebar()}}
{% endblock %}
